body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    color:rgb(47, 112, 168);
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin: 10;
    text-align: center;
}
    .logo{
        row-gap: 0px;
        width: 100px;
        height: 65px;
        display: flex;
        position: relative;
    }
    .menu-direita ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap:20px;
    }
    .menu-direita a {
        color: aliceblue;
        text-decoration: none;
        font-size: 18px;
        padding: 8px;
    }
    a:hover {
        color: aqua;
    }
main {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
}
.inicio {
    margin: 0px;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #6666d1, #102150, #0f4d60);
    background-size: 100% 100%;
    animation: gradientAnimation 25s ease infinite;
    overflow: hidden;
    text-align: center;
}

.bloco{
    border:1px;
    margin: 20px 0;
    padding: 15px;
    background: black(200, 188, 188);
}
.bloco img{
    margin: 10px auto;
    padding: 10px;
}
.bloco-inicio h2{
    font-size: 80px;
    color:aqua;
    animation: slideInUp 10s ease-out;
    text-shadow: 5px 6px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}
                                                        
button {
    background-color: black;
    color:aliceblue;
    border: 5px;
    padding:  10px 15px;
    cursor: pointer;
    font-size: 16px;
}